.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-menu-icon {
  position: absolute;
  display: none;
}

.header-menu {
  display: flex;
  gap: 40px;
  margin: 24px;
}

.header-menu a {
  display: inline-block;
  background-color: var(--cor-p1) 0;
  padding: 16px 24px;
  border-radius: 25px;
}

.header-menu a:hover {
  content: "";
  background-color: var(--cor-p1);
  color: var(--cor-p5);
  padding: 16px 24px;
  border-radius: 25px;
}


.header::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ccc;
}

@media (max-width: 900px) {
  .header {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: center;
  }
  .header-menu a {
    font-size: 1rem;
  } 
}

@media (max-width: 500px) {
  .header-menu {
    margin: 0px
  }
}

@media (max-width: 400px) {
  .header-menu {
    display: none;
  }
  .header-menu-icon {
    display: block;
    position: relative;
  }
}